/*
#mp1 p::first-letter {
    font-size: 300px;
}
*/
#mp1 p::first-line{
    background-color: peachpuff;
}

#mp1 > aside .Subtitulo {
    background-color: green;
}

#mp1 > aside h2 {
    background-color: red !important;
}

/* modelo de caja del articulo que esta en footer*/

#mp1 > footer > article:first-child {
    background-color: gold;
    /* un valor para los 4 lados*/
    padding: 30px;
    /* 2 valores- El primero es para arriba y abajo y el segundo
    derecha e izq*/
    padding: 10px 40px;

    /* 3 valores  - Primero: arriba
                    segundo: izq y der
                    TERCERO: abajo */
    padding: 10px 30px 50px;

        /* 4 valores  - Primero: arriba
                    segundo: izq y der
                    TERCERO: abajo
                    cuarto: abajo */
    padding: 10px 30px 50px 40px;

    /*bordes*/
    border: 10px dotted gray;
    margin: 40px;
}

/*Primer articulo dentro del aside*/
#mp1 > aside > article:first-child {
    background-color: aqua;
    width: 500px; ;
    height:200px ;
    border: 5px solid blue;
    padding:  5px;
    box-sizing: border-box;

}

#mp1 > aside > article:nth-child(2) {
    background-color: aqua;
    width: 500px; ;
    height:200px ;
    border: 5px solid blue;
    padding:  5px;
    box-sizing: border-box;

}

#mp1 > aside > article:last-child {
    background-color: aqua;
    width: 100px; ;
    height:100px ;
    border: 5px solid blue;
    padding:  5px;
    box-sizing: border-box;
}

#mp1 footer p {
    display: inline;
}

#mp1 footer a {
    display: block;
}

#mp1 .parrafo1 {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    border: 4px solid black;
    padding: 5px;
}

#mp1 .link1 {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 4px solid black;
    padding: 5px;
}

#mp1 .parrafo1, .link1 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 4px solid black;
    padding: 5px;
}

#mp1 .parrafo1 span {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lime;
    border: 4px solid black;
    padding: 5px;
}

#mp1 footer article h2 {
    font-size: 40px;
    border: .25em solid black;
    padding: .5em;
}